$header-height-desktop: 128px;
$header-height-handheld: 96px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 992px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1920px; 

$section-maxwidth-desktop: 1200px;
$section-maxwidth-mobile: 100%;